@CHARSET "UTF-8";
.jw_bd{
	background-color: #ebe9e7;
}
.jw_bd div{
	font-family: inherit;
}
body{
	margin:0px;
	padding:0px;
}
._21dp{
	position:relative;
	z-index:301;
}
._2t-8 {
    height: 43px;
    min-width: 100%;
}
._5i94{
	height:44px;
}