<!DOCTYPE html>
<html id="juswork" lang="zh-Hans">
<head>
<meta charset="UTF-8">
<title>Juswork 注册</title>
<link href="{$Think.config.css}/register.css" rel="stylesheet" />
<link href="{$Think.config.css}/1tAy8qmhkp3.css" rel="stylesheet" />
<link href="{$Think.config.css}/styles.css" rel="stylesheet" />
</head>
<body class="_13v2 fbx _-kb u_9pduav-wu chrome webkit win x1 Locale_zh_CN">
	<div class="_li">
		<div id="globalContainer" class="uiContextualLayerParent">
			<div class="fb_content clearfix " id="content" role="main">
				<div>
					<div class="_1ywj">
						<span class="img sx_f28e34"><b>Juswork</b> - <b>just</b> for <b>work</b></span>
					</div>
					<div class="_13v5">
						<form class="_fom" method="post" action="landing" id="work_company_creation_form"
							onsubmit="return window.Event &amp;&amp; Event.__inlineSubmit &amp;&amp; Event.__inlineSubmit(this,event)">
							<input type="hidden" name="fb_dtsg"
								value="AQEntlyXV4FJ:AQF0Qk27e3xd" autocomplete="off">
							<div>
								<div class="_5zi0">帮助公司上下建立联系，提高工作效率。</div>
								<div class="_5zi3">
									<div class="_5zi4">使用你的公司邮箱加入或登录</div>
									<div>
										<input type="text" class="inputtext _55r1 _5zi5" autofocus="1"
											name="email" placeholder="公司邮箱" id="u_0_0" aria-label="公司邮箱">
									</div>
									<div>
										<button value="1"
											class="_42ft _4jy0 _5zi6 _4jy3 _4jy1 selected _51sy"
											type="submit">继续</button>
									</div>
									<div class="_3l1v">
										<div class="_3l1x">
											<i class="img sp_8-Ra_v9whvb sx_b7e388"></i>
											<div class="_3l1y">消息</div>
										</div>
										<div class="_3l1x">
											<i class="img sp_8-Ra_v9whvb sx_bf43de"></i>
											<div class="_3l1y">小组</div>
										</div>
										<div class="_3l1x">
											<i class="img sp_8-Ra_v9whvb sx_531aba"></i>
											<div class="_3l1y">通话</div>
										</div>
									</div>
								</div>
								<div class="_3l1z">熟悉的工具，快速营造互动氛围，帮助大家将好点子付诸实践。</div>
								<div class="_46kk">
									<div class="_12sj">
										<div class="_ezy">
											<div class="_ezz">
												<div class="_ez_">
													<h2>收费标准</h2>
													<h3 class="_e-w">免费试用期至 2017 年 9 月 30 日</h3>
													<ul class="_e-0">
														<li><div class="_e-4">
																<strong>$3</strong>
																<p>（美元）</p>
																<p>前 1,000 位活跃用户人均费用</p>
															</div>
														</li><li><div class="_e-4">
																<strong>$2</strong>
																<p>（美元）</p>
																<p>第 1001~19,000 位活跃用户人均费用</p>
															</div>
														</li><li><div class="_e-4 _e-o">
																<strong>$1</strong>
																<p>（美元）</p>
																<p>后续活跃用户人均费用</p>
															</div>
														</li>
														<li class="_e-1"><div class="_e-4 _e-o">
																<strong>免费馈赠</strong>
																<p>非营利组织与教育性机构员工</p>
															</div>
														</li>
													</ul>
												</div>
												<div class="_e-p">
													<div class="_e-r">
														<p>
															<strong>无需长期合约</strong>
														</p>
														<p>我们认为，如果你喜爱 Juswork，自然会继续使用，我们不需要用长期合约来绑住你。</p>
														<p>
															<strong>人气=优惠</strong>
														</p>
														<p>公司中使用 Juswork 的人数越多，每位用户的费用越低。我们按每位活跃用户收取月费。对前
															1000 位活跃用户，每人的费用是 $3 美元。活跃用户超过 1000 人（总人数不超过 10000
															人）时，多出的用户每人月费是 $2 美元。公司有更多活跃用户？当人数超过 10000 人，多出的用户每人月费低至
															$1 美元。</p>
														<p>我们会根据公司中使用 Workplace 的用户人数来计算月费。</p>
														<span class="_e-s"><h4>乏味的内容来了：</h4>
															<p>适用的税费将根据你的账单所在地计算。费用的货币单位是美元。无限使用的功能受合理使用政策限制。如果你的组织是非营利或教育性机构，请咨询你的
																Facebook 代表。</p></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div id="pageFooter" data-referrer="page_footer">
						<div id="contentCurve"></div>
						<div role="contentinfo" aria-label="Juswork 网站链接">
							<table class="uiGrid _51mz navigationGrid" cellspacing="0"
								cellpadding="0">
								<tbody>
									<tr class="_51mx">
										<td class="_51m- hLeft plm"><a
											href="https://l.facebook.com/l.php?u=https%3A%2F%2Fworkplace.fb.com%2F&amp;h=ATMiQygf12Ip1-xaB9Z4wv1SwdWV4VCg5-8gQ888Z_VSt9c_PiiVcRQH6cP80O-0bmOfcUDFos5Jm0hc7BGqZKrBh_hL2FkdGeRc3Ge-oH-jElRcNbfFRnzi7U0TzkwoPKIjc8g&amp;s=1"
											accesskey="8" title="Workplace 简介" target="_blank"
											rel="nofollow noopener"
											onmouseover="LinkshimAsyncLink.swap(this, &quot;https:\/\/workplace.fb.com\/&quot;);"
											onclick="LinkshimAsyncLink.referrer_log(this, &quot;https:\/\/workplace.fb.com\/&quot;, &quot;\/si\/ajax\/l\/render_linkshim_log\/?u=https\u00253A\u00252F\u00252Fworkplace.fb.com\u00252F&amp;h=ATMiQygf12Ip1-xaB9Z4wv1SwdWV4VCg5-8gQ888Z_VSt9c_PiiVcRQH6cP80O-0bmOfcUDFos5Jm0hc7BGqZKrBh_hL2FkdGeRc3Ge-oH-jElRcNbfFRnzi7U0TzkwoPKIjc8g&amp;enc&amp;d&quot;);">关于</a></td>
										<td class="_51m- hLeft plm"><a
											href="/work/legal/FB_Work_Privacy/?show_chrome=false"
											title="了解 Facebook 和你的隐私权。">隐私权政策</a></td>
										<td class="_51m- hLeft plm"><a
											href="/work/legal/FB_Work_Cookies/?show_chrome=false"
											title="详细了解 Cookie 和 Workplace。" data-nocookies="1">Cookie</a></td>
										<td class="_51m- hLeft plm"><a
											href="/work/legal/FB_Work_AUP/?show_chrome=false"
											accesskey="9" title="审阅我们的条款和政策。">合理使用政策</a></td>
										<td class="_51m- hLeft plm"><a
											href="https://www.facebook.com/help/work/?ref=pf"
											accesskey="0" title="访问帮助中心。">帮助中心</a></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="mvl copyright">
							<div>
								<span> Facebook © 2017</span>
								<div class="fsm fwn fcg">
									<ul class="uiList localeSelectorList _509- _4ki _6-h _6-j _6-i"
										data-nocookies="1">
										<li>中文(简体)</li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;en_US&quot;); return false;"
											title="English (US)">English (US)</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;ja_JP&quot;); return false;"
											title="Japanese">日本語</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;ko_KR&quot;); return false;"
											title="Korean">한국어</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;fr_FR&quot;); return false;"
											title="French (France)">Français (France)</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;id_ID&quot;); return false;"
											title="Indonesian">Bahasa Indonesia</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;pl_PL&quot;); return false;"
											title="Polish">Polski</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;es_LA&quot;); return false;"
											title="Spanish">Español</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;pt_BR&quot;); return false;"
											title="Portuguese (Brazil)">Português (Brasil)</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;de_DE&quot;); return false;"
											title="German">Deutsch</a></li><li><a dir="ltr"
											href="https://work.facebook.com/company_creation/invite/?ref=AVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ"
											onclick="require(&quot;IntlUtils&quot;).setLocale(null, &quot;www_list_selector&quot;, &quot;it_IT&quot;); return false;"
											title="Italian">Italiano</a></li><li><a class="_42ft _4jy0 _517i _517h _51sy"
											role="button" href="#" rel="dialog"
											ajaxify="/settings/language/language/?uri=https%3A%2F%2Fwork.facebook.com%2Fcompany_creation%2Finvite%2F%3Fref%3DAVvJX-lqtM9QlhBbEGADmO-Fbgb3hgsR7fei2hIRADTjQPVIFgThRmylyDW-79n5PdBYlpH8aZKmgZJ7kHB-vpfwlxYPimUnj6Vu_UhHgY7Oieix78Y_ExRBhTmMngXMEkrkuD5LWQNu5hMTF37vZAjZ&amp;source=www_list_selector_more"
											title="更多语言"><i class="img sp_JOj771EQ4o6 sx_6768c7"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>