<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>terms</title>
<link href="{$Think.config.css}/style.css" rel="stylesheet" />
</head>
<body>
	<div id="header">
		<div class="_38if">
			<a class="_378-" href="index.html">Juswork - just for work</a>
			<ul class="_vrh">
				<li class="_3791"><a href="javascript:void(0);">About</a></li>
				<li><a href="javascript:void(0);">Stories</a></li>
				<li><a href="javascript:void(0);">Security</a></li>
				<li><a href="javascript:void(0);">Partners</a></li>
				<li><a href="javascript:void(0);">Pricing</a></li>
				<li><a href="javascript:void(0);">Blog</a></li>
			</ul>
			<div class="_vri"><a class="_475d _475h _vrj" href="javascript:void(0)" role="button" id="u_0_0">Join Now or Log In</a></div>
		</div>
	</div>
	<div id="content">
		<div class="_53m">
            <h2><strong>Privacy Policy</strong></h2>
			<p>Ningbo Juphoon System Software Co., Ltd (“JusWork” or “we” or “us” or “our” or other similar pronouns) takes your (“you”or “user”or other similar pronouns ) privacy matters very seriously. The Policy details how we receive, collect and use information in connection with our website (the “Site”) and JusWork software (“JusWork” or the “Software”) (All of the foregoing, collectively, are named “Services”).</p>
			<h4>Collection of Information</h4>
			<p>When you install JusWork and log in, you will be asked to allow us to access your mobile device’s address book. Your and your contacts’ SIP accounts will be stored on our server for identification purpose. When you use JusWork, we may collect and use technical data and related information, including but not limited to session statistics such as caller and callee’s accounts, IP addresses, begin time, call duration, your device name, system version, packet loss rate, codecs, RTT (Round-Trip Time), jitter, render FPS (frames per second), packet length and maximum resolution, to serve you better and facilitate the provision of software updates, product support and other services to you (if any) related to the software.</p>
			<h4>Third-party Sites and Privacy Practices</h4>
			<p>You may download JusWork from our site or other websites. In addition, our site may contain links that will let you leave it and access another website. JusWork is not responsible for the privacy practices or the content of such websites. You are encouraged to review the privacy policies of these other websites before registering for any products or services from them.</p>
			<h4>Analytics Collection</h4>
			<p>JusWork may use Google Analytics to help us analyze and evaluate how the site is used as part of our ongoing efforts to improve the site, features and services of JusWork. Google Analytics may have access to your information (including but not limited to IP address, web analytics and information processing) only for the purposes of performing these tasks and on behalf of JusWork. For more information about the terms that govern Google Analytics, please visit the Google Analytics terms of service.</p>
			<p>We will never (and will not allow any third party to) use the statistical analytics tool to track or to collect any Personally Identifiable Information (PII) of visitors. Google will not associate your IP address with any other data held by Google. We will not associate any data gathered from this site with any Personally Identifiable Information from any source.</p>
			<h4>Security</h4>
			<p>We take prudent and reasonable precaution to protect your information on our servers from misuse, loss and unauthorized access. To prevent unauthorized access or disclosure, maintain data accuracy, and ensure the appropriate use of information, we have put in place safeguards to secure the information we collect online.</p>
			<p>Without your consent, JusWork will never publish, edit or disclose your information except under the following circumstances:</p>
			<p>(a) When it is necessary to comply with the law, or legal process served on us;</p>
			<p>(b) Act in urgent circumstances to protect personal safety of users of our services or members of the public;</p>
			<p>(c) Protect our trademarks and intellectual property;</p>
			<p>(d) Cooperate with a judicial organ for the purpose of monitoring and detection prescribed by laws and regulations;</p>
			<p>(e) Any other circumstances requiring such action.</p>
			<h4>Modifications to This Privacy Policy</h4>
			<p>We reserve the right to modify the Privacy Policy from time to time, with or without notice. We will post the revised Policy on the site, and you should agree to review the Policy periodically so that you are aware of any modifications. Your continued use of the Software indicates your assent to any changes and signifies your agreement to the terms of our Policy. If you do not agree with these terms, you should not use the site, software, or any of other services.</p>
			<h4>Questions and Concerns</h4>
			<p style="padding-bottom:100px;">After reading our Privacy Policy, if you have questions or concerns about any of the statements herein, please do not hesitate to contact us at <a href="mailto:support@JusWork.com"><span style="color:#DC9FB4;">support@juswork.com</span></a>.</p>
		</div>
	</div>
	<div class="_47cv">
		<ul>
			<li class="footer-section-title"><strong>Get Started</strong></li><li><a href="javascript:void(0);">About</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Stories</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Security</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Partners</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Pricing</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Blog</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Mobile</a></li>
		</ul>
		<ul>
			<li class="footer-section-title"><strong>Help</strong></li><li><a href="javascript:void(0);">FAQs</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Help Centre</a></li><i class="_knr img sp_82ADSQFU9uY sx_20fa69"></i><li><a href="javascript:void(0);">Technical</a></li>
		</ul>
		<ul>
			<li class="footer-section-title"><strong>Legal</strong></li><li><a href="/legal/FB_Work_Privacy">Privacy Policy</a></li>
		</ul>
		<div class="_47cz">
			<span class="_47cx"></span>
			<p>
				Copyright © 2017 Juphoon System Software Co., Ltd. All rights reserved.<a href="legal.html">Legal</a>|<a href="terms.html">Terms</a>|<a href="policy.html">Privacy Policy</a>.
			</p>
		</div>
	</div>
</body>
</html>